In [21]:
air <- read.csv("air_new.csv")

In [22]:
df <- subset(air, Month==12 & DayofMonth == 25)

In [26]:
dest_count <- as.data.frame(table(df$Dest))
origin_count <- as.data.frame(table(df$Origin))
 
total_count <- merge(dest_count, origin_count, by="Var1")
total_count$total <- total_count$Freq.x + total_count$Freq.y
colnames(total_count) <- c("iata_code","dest_count","origin_count","total_delay_counts")
      
new_airports <- merge(airports, total_count, by="iata_code")
top_10 <- head(new_airports[order(new_airports$total_delay_counts, decreasing = TRUE),], 10)

In [28]:
top_10

    iata_code latitude_deg longitude_deg dest_count origin_count
253 SLC       40.7884      -111.9780     14         41
146 LAS       36.0801      -115.1520     31         20
244 SEA       47.4490      -122.3090      5         44
201 ORD       41.9786       -87.9048     14         31
74  DEN       39.8617      -104.6730     15         11
210 PHX       33.4343      -112.0120     15          9
207 PDX       45.5887      -122.5980      8         13
75  DFW       32.8968       -97.0380     13          4
148 LAX       33.9425      -118.4080     11          4
229 RNO       39.4991      -119.7680      3         11
    total_delay_counts
253 55
146 51
244 49
201 45
74  26
210 24
207 21
75  17
148 15
229 14

In [32]:
 collection <- c()
      i <- 1
      for(item in top_10$iata_code){
        collection[i] <- mean(subset(df, Dest==item|Origin==item)$WeatherDelay)
        i <- i+1
      }
top_10_mean_delay <- as.matrix(collection)
top_10_mean_delay <- as.data.frame(top_10_mean_delay)
colnames(top_10_mean_delay) <- "mean_delay"
top_10 <- cbind(top_10, top_10_mean_delay)
added_data <- top_10[,c("iata_code","mean_delay")]
      
airports_plot <- merge(new_airports, added_data, by="iata_code", all.x=TRUE)
airports_plot[is.na(airports_plot)] <- 0

In [36]:
head(airports_plot)

  iata_code latitude_deg longitude_deg dest_count origin_count
1 ABE       40.6521       -75.4408     0          0
2 ABI       32.4113       -99.6819     0          0
3 ABQ       35.0402      -106.6090     3          2
4 ABY       31.5355       -84.1945     0          0
5 ACK       41.2531       -70.0602     0          0
6 ACT       31.6113       -97.2305     0          0
  total_delay_counts mean_delay
1 0                  0
2 0                  0
3 5                  0
4 0                  0
5 0                  0
6 0                  0